/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: rgb(12, 12, 12);
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #Products {background-color:rgb(195, 207, 224);}
  #Address {background-color:rgb(247, 241, 221);}
  #Summary {background-color:rgb(225, 225, 247);}

  .img-table {
    display: block; 
    width: 6rem; 
    height: auto;
}
.btn-xs {
    
    width:2rem;
    height:2rem;
    text-align:center;
    line-height:1em;   
}