/* Style the tab buttons */
.tablink {
    background-color: rgba(21, 82, 117, 0.788);
    color: white;
    
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: rgba(87, 120, 139, 0.788);
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: rgb(12, 12, 12);
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #Products {background-color:rgb(232, 237, 243);}
  #Address {background-color:rgb(213, 211, 235);}
  #Summary {background-color:rgb(225, 225, 247);}

  .img-table {
    display: block; 
    width: 6rem; 
    height: auto;
}
.btn-xs {
    
    width:2rem;
    height:2rem;
    background-color: lightyellow;
    text-align:center;
    line-height:1em;   
}
.table-height {
  min-height: 35rem;
}
.text-blue {
  color: rgba(21, 82, 117, 0.788);
}
.border-blue {
  border:1px rgba(21, 82, 117, 0.788)
  
}