/* Style the tab buttons */
.tablink {
    background-color: rgba(21, 82, 117, 0.788);
    color: white;
    
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: rgba(163, 167, 182, 0.788);
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: rgb(12, 12, 12);
    display: none;
    padding: 50px;
    text-align: center;
  }
  
  /* Style each tab content individually */
  #Products {background-color:rgb(227, 227, 235);}
  #Address {background-color:rgb(236, 236, 250);}
  #Summary {background-color:rgb(236, 236, 250);}

  .img-table {
    display: block; 
    width: 6rem; 
    height: auto;
}
.btn-xs { 
    width:2rem;
    height:2rem;
    background-color: lightyellow;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    line-height:0.1em;   
}
.table-height {
  min-height: 35rem;
}
.text-blue {
  color: rgba(11, 69, 102, 0.788);
}
.border-blue {
  border:1px rgba(21, 82, 117, 0.788)
}
.img-small {
  width: 12rem;
  height: auto;
}
.img-smallSum {
  width: 17rem;
  height: auto;
}
.img-middle {
  display: flex;
  align-items: center;
}